---
http_interactions:
- request:
    method: post
    uri: https://my.tanda.co/api/v2/datastreams?data_interval=900&name=Josh%27s%20Cafe&print_mode=values&roster_display_mode=values&source=clover
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 5edfc6c9f51ed0d0ed46ab694a248782eed5a03a68aaea1e9195ee966415d6a8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1141ecc7e666b5a379f6b8ba553d8fab"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1500429075'
    body:
      encoding: UTF-8
      string: '{"id":69355,"name":"Josh''s Cafe","source":"api","data_interval":900,"enabled":true,"print_mode":"values","roster_display_mode":"values","updated_at":1500429015}'
  recorded_at: Wed, 19 Jul 2017 01:50:15 GMT
recorded_with: VCR 3.0.3
