---
http_interactions:
- request:
    method: post
    uri: https://my.tanda.co/api/v2/users?name=Acer%20Natsumi
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 42e9e4ff45f0c10deac87b2437bd7f52c7fb04cb1e8470a16aafebe37fd9b30c
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"69b83b4249c776eb04547215cae92a98"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Ratelimit-Reset:
      - '1499048603'
    body:
      encoding: UTF-8
      string: '{"id":353762,"name":"Acer Natsumi","date_of_birth":null,"employment_start_date":null,"employee_id":null,"passcode":"2832","user_levels":["employee"],"department_ids":[],"preferred_hours":0.0,"award_template_id":null,"award_tag_ids":[],"report_department_id":null,"managed_department_ids":[],"active":true,"email":null,"photo":null,"phone":null,"normalised_phone":null,"time_zone":"Australia/Brisbane","utc_offset":36000,"created_at":1499048589,"part_time_fixed_hours":0.0,"expected_hours_in_pay_period":0.0,"days_overtime_averaged_over":7,"overtime_calculated_over_period_start":"2016-02-08","employment_basis":null,"super_fund_membership":null,"bank_details":null,"tax_declaration":null,"qualifications":[],"updated_at":1499048589}'
  recorded_at: Mon, 03 Jul 2017 02:23:09 GMT
recorded_with: VCR 3.0.3
