---
http_interactions:
- request:
    method: post
    uri: https://my.tanda.co/api/v2/storestats/for_datastream/69354?stat=35.5&time=1459296900&type=sales
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 5edfc6c9f51ed0d0ed46ab694a248782eed5a03a68aaea1e9195ee966415d6a8
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"33e22a6ffa274ded279602c3d0bb810b"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1500426571'
    body:
      encoding: UTF-8
      string: '{"id":517574198,"time":1459296900,"stat":35.5,"type":"sales"}'
  recorded_at: Wed, 19 Jul 2017 01:08:31 GMT
recorded_with: VCR 3.0.3
