---
http_interactions:
- request:
    method: get
    uri: https://my.tanda.co/api/v2//users
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 42e9e4ff45f0c10deac87b2437bd7f52c7fb04cb1e8470a16aafebe37fd9b30c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a62f1e6b0de5034acef64e6dbcc93a73"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Reset:
      - '1499044329'
    body:
      encoding: UTF-8
      string: '[{"id":352397,"name":"Adam Lyons","date_of_birth":null,"employment_start_date":null,"employee_id":null,"passcode":"7631","user_levels":["employee"],"department_ids":[],"preferred_hours":0.0,"award_template_id":null,"award_tag_ids":[],"report_department_id":null,"managed_department_ids":[],"active":true,"email":null,"photo":null,"phone":null,"normalised_phone":null,"time_zone":"Australia/Brisbane","utc_offset":36000,"created_at":1498800983,"part_time_fixed_hours":0.0,"expected_hours_in_pay_period":0.0,"days_overtime_averaged_over":7,"overtime_calculated_over_period_start":"2016-02-08","employment_basis":null,"super_fund_membership":null,"bank_details":null,"tax_declaration":null,"qualifications":[],"updated_at":1498800983},{"id":352396,"name":"Sophia
        Hooton","date_of_birth":null,"employment_start_date":null,"employee_id":null,"passcode":"5135","user_levels":["employee"],"department_ids":[],"preferred_hours":0.0,"award_template_id":null,"award_tag_ids":[],"report_department_id":null,"managed_department_ids":[],"active":true,"email":null,"photo":null,"phone":null,"normalised_phone":null,"time_zone":"Australia/Brisbane","utc_offset":36000,"created_at":1498800982,"part_time_fixed_hours":0.0,"expect[...]
